# dependencies
node_modules

# sst
.sst
.build

# Next.js and opennext
.open-next
.next
out
build
dist
dist-ssr
*.local

# misc
.DS_Store
*.pem
_dev

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# debug
npm-debug.log*
logs
*.log
