# dependencies
node_modules

# sst
.sst
.build

# Next.js and opennext
.open-next
.next
out
build
next-env.d.ts

# misc
.DS_Store
*.pem
_dev

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# debug
npm-debug.log*
