.redirectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}
